@import url('reset.css');


@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Medium.woff2') format('woff2');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Roboto';
	src: url('../fonts/roboto/Roboto-Bold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

/* GLOBAL */

html,
body {
	height: 100%;
}

body {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	color: #212121;
}

.container {
	width: 1200px;
	margin: 0 auto;
	padding: 0 15px;
}

.subtitle {
	font-weight: 700;
	font-size: 36px;
}

/* HEADER */
.header {
	padding: 25px 0;
	font-size: 14px;
	font-weight: 500;
}

.header-container {
	display: flex;
	align-items: center;
}

.header-logo {
	margin-right: 90px;
}

.header-list {
	display: flex;
	gap: 50px;
	margin-right: auto;
	
}



.header-item a.active {
	color: #2196F3;
}

.header-email:hover {
	color: #2196F3;
}

.header-phone {
	margin-left: 50px;
}

.header-phone:hover {
	color: #2196F3;
}

.header-item a,
.header-email,
.header-phone {
	text-decoration: none;
}

.header-email,
.header-phone {
	text-decoration: none;
	color: #757575;
}

/* HERO */

.hero {
	background: url(../images/hero-image.jpg)no-repeat;
	min-height: 600px;
	display: flex;
	align-items: center;
	color: #fff;
	position: relative;
	

	
}

.hero::before {
	content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(47, 48, 58, 0.4); 
    z-index: 1;
	
}

.hero-container {
	width: 650px;
	margin: 0 auto;
	text-align: center;
}
.hero-content {
	z-index: 2;
	position: relative;
}

.hero-title {
	font-size: 44px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin-bottom: 30px;
}

.hero-btn {
    background: #2196F3;
    padding: 17px 52px;
    color: #fff;
    cursor: pointer;
    font-weight: 700;
    border-radius: 4px;
    transition: all 0.3s ease;
    
	transition: transform 0.3s ease;
}
.hero-btn:hover {
	transform: scale(1.03);

}

/* about section */

.about {
	padding: 94px 0;
}

.features {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	row-gap: 30px;
	

}

.feature-item {
	width: 25%;
	padding: 0 15px;
	

}

.feature-item h3 {
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	padding-top: 30px;
	
}

.feature-item p {
	font-size: 14px;
	font-weight: 400;
	color: #757575;
	line-height: 24px;
	padding-top: 10px;
}

.feature-image {
	padding: 25px;
	background: rgba(245, 244, 250, 1);
	text-align: center;


	

}

.feature-image svg {
	width: 70px;
	height: 70px;
	


}

/* !DO section */
.doing {
	padding: 94px 0;
}

.doing-title {
	margin-bottom: 50px;
	text-align: center;
}

.doing-cards {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -15px;
	row-gap: 30px;
}

.doing-card {
	width: 33.333%;
	height: 294px;
	padding: 0 15px;
	position: relative;
    overflow: hidden;
	
}

.doing-description  {
	position: absolute;
	bottom: 0;
	left: 0;
	width: calc(100% - 30px);
	height: 25%;
	
	margin: 0 15px;
	background: rgba(47, 48, 58, 0.8);
	
	color: rgba(255, 255, 255, 1);
	
	display: flex;
	gap: 30px;
	justify-content: center;
	align-items: center;
	font-size: 14px;
	font-weight: 700;
	transition: transform 0.3s ease;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 14px;
}
.doing-card:hover  {   
	transform: scale(1.02);
}

.doing-card img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

/* Our team section */

.our-team {
    background: #F5F4FA;

    padding: 94px 0;
}
.team-title {
	margin-bottom: 50px;
	text-align: center;
}

.our-team-cards {
	display: flex;
	flex-wrap: wrap;
	gap: 30px;

}

.team-card   {
	flex: 1 1 20%;
	background: #fff;
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.20);
	border-radius: 0px 0px 4px 4px;
	
	

}

.team-card img {
	width: 100%;
	height: 260px;
	object-fit: cover;
}

.team-member-info {
	display: flex;
	flex-flow: column;
	background: #fff;
	padding: 30px 32px;
	justify-content: center;
	align-items: center;

}

.team-card .team-member-info {
	/* border-radius: 4px;
	box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);

	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
	
	box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12); */
	
}

.team-member-info h3 {
    font-size: 16px;
    font-weight: 500;

}

.team-member-info p {
    font-size: 16px;
    font-weight: 400;
    color: #757575;
	line-height: auto;
	padding-top: 10px;
	
}

.social-icons-list {
	display: flex;
	gap: 10px;
	justify-content: center;
	flex-direction: row;
	padding-top: 16px;
}

.icon-link {
	display: block;
}
.icon-link svg {
	width: 44px;
	height:44px;
	fill: rgba(175, 177, 184, 1);
	background: #fff;
	border-radius: 50%;
	transition: fill .2s linear;
}

.icon-link:hover svg, .join .icon-link:hover svg  {
	fill: #fff;
	border-radius: 50%;
	background: #2196F3;
}




/* Regular customers section */

.customers {
 

    padding: 94px 0;
}

.customers-title {
	margin-bottom: 50px;
	text-align: center;
}

 .customers-icons-list {

	display: flex;
	margin-right: auto;
	gap: 30px;
	flex-direction: row;
	justify-content: center;


}

.customer-link {
	display: block;
}


.customer-link svg {
	width: 170px;
	height: 92px;
	fill: rgba(175, 177, 184, 1);
	border: 1px solid  rgba(175, 177, 184, 1);
	border-radius: 4px;
	transition: fill .2s linear;
}


.customer-link:hover svg{
fill: #2196F3;
border: 1px solid #2196F3;
border-radius: 4px;


}



/* FOOTER */

.footer {
	background: #2F303A;
	padding: 60px 0;
	margin-bottom: 92px;
	
	
	
	
}

.footer-container {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;

	gap: 90px;
	

	
}

.contacts {
	display: flex;
	flex-direction: column;
	gap: 9px;
	align-items: flex-start;

}


.footer-logo {
	margin: 0 0 11px;
}

.footer p {
	color: #fff;
}

.footer a {
	text-decoration: none;
	color: #757575;
	font-size: 14px;
}

.footer a:hover {
	color: #2196F3;
}

.join {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.join .icon-link svg {
		width: 44px;
		height:44px;
		fill: rgba(175, 177, 184, 1);
		background: rgba(255, 255, 255, 0.1);
		border-radius: 50%;
		transition: fill .2s linear;
	}
.join p {
	font-weight: 700;
	font-size: 14px;
	text-transform: uppercase;
}


/* Portgolio page */

.filters-container {
	display: flex;
	gap: 8px;
	justify-content: center;
	margin: 92px 0;
	
}

.filter-item {
	
	padding: 6px 26px;
	border-radius: 4px;
	opacity: 0px;
	background: #F5F4FA;
	cursor: pointer;
	
	
}

.filter-item:hover,
.filter-item.active
{
	background-color: #2196F3;
	box-shadow: 0px 2px 2px 0px #0000001F, 0px 1px 2px 0px #00000014,0px 3px 1px 0px #0000001A;
	color: #fff;

}
.portfolio-items {
	display: flex;
	flex-flow:row wrap;
	row-gap: 30px;
	margin-bottom: 92px;
	
	
	
}

	

.portfolio-item {
	width:33.333%; 
	padding: 0 15px;
	position: relative;
	
}

.image-container {
    position: relative;
    overflow: hidden;
}

.project-description  {
	position: absolute;
	bottom:0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 24px;
	background: #2196F3E5;
	opacity: 0%;
	color: #EEEEEE;
	display: flex;
	text-align: left;
	align-items: center;
	line-height: 28px;
	font-size: 18px;
	font-weight: 400;

}

.portfolio-item:hover .project-description {
    opacity: 1;
}
.portfolio-item img {
	width: 100%;
	height: 294px;
	object-fit: cover;

}

.list-item-title a {
	font-size: 18px;
	font-weight: 700px;
	color: #212121;
	text-decoration: none;
	line-height: 36px;
}

.list-item-title a:hover {
	color: #2196F3;
}

.list-item-category {
	font-size: 16px;
	font-weight: 400px;
	color: #757575;
	line-height: 30px;
}

.item-description {
	
	display: flex;
	flex-direction: column;
	align-items: start;
	padding: 20px 24px;	
	justify-content: flex-start;
	border: 1px solid #EEEEEE;	
}

.portfolio-item:hover .item-description {
 	
	box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.12), 0px 4px 4px 0px rgba(0, 0, 0, 0.06), 1px 4px 6px 0px rgba(0, 0, 0, 0.16);
	}
	
	


